/*
 * Created: 2020-03-26 14:30:31
 * Last Modified:2020-03-31 11:10:17
 * Filename:style.css
 * Project:css
 * Author : YukiMuraRindon
 * Email : rinndonn@outlook.com
 * --------------------------------------------------------
 * Description: 
 */

html {
  height: 100%;
  width: 1100px;
}
#body{
  height: 710px;
}
.el-scrollbar__wrap{
  overflow-x: hidden;
}
.commodity{
  font-size: 10px;
}
#img {
  float: left;
}
#toplist {
  float: left;
  width: 305px;
}
#leftlist {
  float: left;
  width: 265px;
}
#topitem {
  height: 64px;
}
#user {
  float: right;
  margin-top: 10px;
}
.el-menu {
  border-bottom: 0px !important;
}
.el-menu-item.is-active {
  border-bottom-color: #ffffff !important;
  color: blue !important;
}
#cards{
  width: 800px;
  height: 704px !important;
  float: left;
}
.el-col{
    float: left;
    width: 263px!important;
}
.el-card{
  float: left;
  width: 260px!important;
  height: 400px;
}
.image {
  width: 100%;
  height: 150px;
  display: block;
}
#line {
  width: 1000px;
}
#id {
  float: left;
}
#footer {
  text-align: center;
  font-size: 12px;
}
