<!--
Created: 2020-03-26 19:23:02
Last Modified:2020-03-31 11:09:53
Filename:index.html
Project:admin
Author : YukiMuraRindon
Email : rinndonn@outlook.com
--------------------------------------------------------
Description: 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="YukiMuraRindon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <link rel="Website icon" href="img/favicon.ico" type="image/x-icon" />
    <title>后台管理界面</title>
    <script>
      if (localStorage.token == null) {
        alert("请先登录！！！");
        location.href = "../index.html";
      }
    </script>
  </head>
  <!--引入组件，缺少axios-->
  <script src="lib/vue.js"></script>
  <script src="lib/element.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link href="css/style.css" type="text/css" rel="stylesheet" />
  <script src="lib/axios.js"></script>
  <body>
    <!--顶部菜单-->
    <div class="head">
      <a href="index.html"><img src="img/logo.jpg" id="img"/></a>
      <div id="toplist">
        <el-menu :default-active="activeIndex" class="el-menu" mode="horizontal" @select="handleSelect">
          <el-menu-item index="1"><a href="./index.html">商品管理</a></el-menu-item>
          <el-menu-item index="2"><a href="./order.html">订单管理</a></el-menu-item>
          <el-menu-item index="3"><a href="./user.html">用户管理</a></el-menu-item>
          <el-menu-item index="4"><a href="./trend.html">订单趋势</a></el-menu-item>
        </el-menu>
      </div>
      <div id="user">
        <p style="margin-right:40px; text-align: center; float: right;">
          欢迎您：{{ nick }}
          <el-button type="text" @click="logout">注销</el-button>
        </p>
        <img src="./img/userlogo.png" alt="userlogo" style="width:50px;height:50px;" />
      </div>
    </div>
    <!--数据加载-->
    <div id="data">
      <h3>商品数据</h3>
      <div style="width:203px;height:44px;text-align: center; margin-left: 490px;" :center="true">
        <el-button type="primary" @click="dialogFormVisible = true">查询商品</el-button>
        <!--查询商品的表单-->
        <el-dialog title="根据商品种类查询商品" :visible.sync="dialogFormVisible">
          <el-form :model="form">
            <el-form-item label="商品种类" :label-width="formLabelWidth" v-model="info">
              <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="select">查 询</el-button>
          </div>
        </el-dialog>
        <el-button type="primary" @click="dialogFormVisible1 = true">增加商品</el-button>
        <!--添加商品的表单-->
        <el-dialog title="增加新的商品" :visible.sync="dialogFormVisible1">
          <el-form :model="form">
            <el-form-item label="商品名称" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品种类" :label-width="formLabelWidth" v-model="form.kind">
              <el-select v-model="form.kind" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="商品库存" :label-width="formLabelWidth">
              <el-input v-model="form.stock" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品描述" :label-width="formLabelWidth">
              <el-input v-model="form.disc" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品图片地址" :label-width="formLabelWidth">
              <el-input v-model="form.img" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品价格" :label-width="formLabelWidth">
              <el-input v-model="form.price" autocomplete="off"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="add">添 加</el-button>
          </div>
        </el-dialog>
      </div>
      <el-table :data="tableData" border style="width: 100%;" row-class-name="tableRow" height="700">
        <el-table-column prop="comid" label="商品ID" width="50"> </el-table-column>
        <el-table-column prop="comname" label="商品名称" width="100"> </el-table-column>
        <el-table-column prop="comkind" label="商品类别" width="80"> </el-table-column>
        <el-table-column prop="comstock" label="商品库存" width="80" placeholder="库存只能是数字！！！">
        </el-table-column>
        <div style="height:70px;">
          <el-scrollbar :native="false" tag="section" style="height:100%;">
            <el-table-column prop="comdisc" label="商品描述" style="height:70px;"> </el-table-column>
          </el-scrollbar>
        </div>
        <el-table-column prop="comprice" label="商品价格" width="80"> </el-table-column>
        <el-table-column prop="comaddtime" label="添加时间" width="100"></el-table-column>
        <el-table-column prop="action" label="操作" id="action" :inline="true" width="234">
          <template slot-scope="scope">
            <el-button type="primary" @click="del(scope.row.comid)">删除商品</el-button>
            <el-button type="primary" @click="updateShow(scope.row)">修改商品</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!--修改商品的表单-->
      <el-dialog title="修改商品信息" :visible.sync="upadteFormVisible">
        <el-form :model="upform">
          <el-form-item label="商品id" :label-width="formLabelWidth">
            <el-input v-model="upform.id" autocomplete="off" :disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="商品名称" :label-width="formLabelWidth">
            <el-input v-model="upform.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="商品种类" :label-width="formLabelWidth" v-model="upform.kind">
            <el-select v-model="upform.kind" placeholder="请选择">
              <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"> </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="商品库存" :label-width="formLabelWidth">
            <el-input v-model="upform.stock" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="商品描述" :label-width="formLabelWidth">
            <el-input v-model="upform.disc" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="商品图片地址" :label-width="formLabelWidth">
            <el-input v-model="upform.img" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="商品价格" :label-width="formLabelWidth">
            <el-input v-model="upform.price" autocomplete="off"></el-input>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="upadteFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="update">修 改</el-button>
        </div>
      </el-dialog>
    </div>
    <!--底部菜单-->
    <hr id="line" />
    <div id="footer">
      <p>酒店订餐系统 HOTEL RESERVATION SYSTEM © 2020</p>
      <p>Powered and Maintained by Rindon . All Rights Reserved.</p>
    </div>
  </body>
  <script>
    var toplist = {
      beforeCreate() {
        //实例化之前先验证是否是管理员
        if (localStorage.token == null) {
          this.admin = false;
          alert("请先登录！！！");
          location.href = "../index.html";
        } else {
          axios({
            method: "post",
            url: "http://192.168.2.201/login/check",
            data: {
              token: localStorage.token
            }
          }) //执行get请求
            .then(function(response) {
              localStorage.islogin = "yes";
              if (response.data.status == "2") {
                this.admin = true;
                //console.log(this.admin);
              } else {
                alert("请用管理员账号登录！！！");
                location.href = "../index.html";
              }
            })
            .catch(error => {
              console.log(error);
            }); //错误处理
        }
      },
      data() {
        return {
          activeIndex: "1",
          activeIndex2: "1"
        };
      },
      methods: {
        handleSelect(key, keyPath) {
          //console.log(key, keyPath);
        }
      }
    };
    var user = {
      beforeCreate() {
        if (localStorage.islogin == null) {
          localStorage.islogin = "no";
        } else if (localStorage.islogin == "yes") this.islogin = true;
        if (localStorage.nickname == null) {
          localStorage.nickname = "Guest";
        } else if (localStorage.nickname === "rindon") {
          this.admin = true;
          //console.log(this.admin);
          //建议改成后端请求验证
        }
      },
      data() {
        return {
          circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png",
          nick: localStorage.nickname
        };
      },
      methods: {
        logout: function() {
          if (localStorage.token == null) {
            localStorage.removeItem("nickname");
            localStorage.removeItem("token");
            location.reload();
          } else {
            axios({
              method: "post",
              url: "http://192.168.2.201/login/logout",
              data: {
                token: localStorage.token
              }
            }) //执行get请求
              .then(function(response) {
                localStorage.removeItem("nickname");
                localStorage.removeItem("token");
                localStorage.islogin = "no";
                location.reload();
              })
              .catch(error => {
                console.log(error);
              }); //错误处理
          }
        }
      }
    };
    var data = {
      data() {
        return {
          info: [],
          params: "all",
          tableData: [],
          dialogFormVisible: false,
          dialogFormVisible1: false,
          upadteFormVisible: false,
          form: {
            name: "",
            kind: "",
            stock: "",
            disc: "",
            img: "",
            price: ""
          },
          upform: {
            id: "",
            name: "",
            kind: "",
            stock: "",
            disc: "",
            img: "",
            price: ""
          },
          formLabelWidth: "120px",
          input: "",
          tableData: [{}],
          options: [
            {
              value: "lu",
              label: "鲁菜"
            },
            {
              value: "chuan",
              label: "川菜"
            },
            {
              value: "yue",
              label: "粤菜"
            },
            {
              value: "su",
              label: "苏菜"
            },
            {
              value: "min",
              label: "闽菜"
            },
            {
              value: "zhe",
              label: "浙菜"
            },
            {
              value: "hui",
              label: "徽菜"
            },
            {
              value: "xiang",
              label: "湘菜"
            }
          ],
          value: "",
          rowcomid: ""
        };
      },
      methods: {
        select: function() {
          //查询商品方法
          this.dialogFormVisible = false;
          if (this.value == "") {
            this.value = "all";
          } else {
            this.get(this.value);
          }
          //console.log();
        },
        add: function() {
          //添加商品方法
          if (isNaN(this.form.stock)) {
            this.$alert("商品库存只能是数字！！", "请检查输入内容", {
              confirmButtonText: "确定"
            });
            if (isNaN(this.form.price)) {
              this.$alert("商品价格只能是数字和小数点！！", "请检查输入内容", {
                confirmButtonText: "确定"
              });
            }
            if (
              //先检查是否有空值
              this.form.name == "" ||
              this.form.kind == "" ||
              this.form.stock == "" ||
              //库存只能为数字
              this.form.disc == "" ||
              this.form.img == "" ||
              this.form.price == ""
            ) {
              this.$alert("不能有空字段，请重新输入！", "请检查输入内容", {
                confirmButtonText: "确定"
              });
            }
          } else {
            (this.dialogFormVisible1 = false),
              axios({
                method: "post",
                url: "http://192.168.2.201/commodity/insert/",
                data: {
                  name: this.form.name, //取值
                  kind: this.form.kind,
                  stock: this.form.stock,
                  disc: this.form.disc,
                  img: this.form.img,
                  price: this.form.price
                }
              }) //执行get请求
                .then(function(response) {
                  //this.get("all"); //插入完毕刷新页面
                  //console.log(response);
                }) //处理数据（赋给info
                .catch(error => {
                  console.log(error); //这里应该有错误处理
                }); //错误处理
            this.get("all");
            this.form.name = ""; //提交完成后归空
            this.form.kind = "";
            this.form.stock = "";
            this.form.disc = "";
            this.form.img = "";
            this.form.price = "";
            this.$alert("添加成功", "商品添加成功", {
              confirmButtonText: "确定"
            });
            this.get("all"); //插入完毕刷新页面
          }
        },
        del: function(comid) {
          //console.log(comid);
          this.$confirm("此操作将永久删除该商品的信息, 是否继续?", "提示", {
            confirmButtonText: "确定",
            cancelButtonText: "取消",
            type: "warning"
          })
            .then(() => {
              axios({
                method: "post",
                url: "http://192.168.2.201/commodity/deletecom/",
                data: {
                  id: comid
                }
              }) //执行get请求
                .then(function(response) {
                  //this.get("all"); //插入完毕刷新页面
                }) //处理数据（赋给info
                .catch(error => {
                  console.log(error); //这里应该有错误处理
                }); //错误处理
              //执行完毕后刷新表格
              this.$alert("删除成功", "删除商品成功", {
                confirmButtonText: "确定"
              });
              this.get("all");
            })
            .catch(() => {});
          this.get("all");
        },
        updateShow: function(row) {
          //将行数据放入表格
          this.upadteFormVisible = true;
          this.upform.id = row.comid;
          this.upform.name = row.comname;
          this.upform.kind = row.comkind;
          this.upform.stock = row.comstock;
          this.upform.disc = row.comdisc;
          this.upform.img = row.comimg;
          this.upform.price = row.comprice;
        },
        update: function() {
          //console.log(this.upform.name,this.upform.id,this.upform.stock);
          axios({
            method: "post",
            url: "http://192.168.2.201/commodity/updatecom/",
            data: {
              id: this.upform.id,
              name: this.upform.name,
              kind: this.upform.kind,
              stock: this.upform.stock,
              disc: this.upform.disc,
              img: this.upform.img,
              price: this.upform.price
            }
          }) //执行请求
            .then(function(response) {
              //console.log(response);
            }) //处理数据（赋给info
            .catch(error => {
              console.log(error); //这里应该有错误处理
            }); //错误处理
          //执行完毕后刷新表格
          this.$alert("修改成功", "商品信息修改成功", {
            confirmButtonText: "确定"
          });
          this.upadteFormVisible = false;
          this.get("all");
        },
        get: function(value) {
          //重新获取商品信息
          axios({
            method: "get",
            url: "http://192.168.2.201/commodity/select/" + value
          }) //执行get请求
            .then(res => (this.tableData = res.data)) //处理数据（赋给info
            .catch(error => {
              console.log(error);
            }); //错误处理
        }
      },
      mounted() {
        axios({
          method: "get",
          url: "http://192.168.2.201/commodity/select/" + this.params
        }) //执行get请求
          .then(res => (this.tableData = res.data)) //处理数据（赋给info
          .catch(error => {
            console.log(error);
          }); //错误处理
      }
    };
    var Ctor = Vue.extend(data);
    new Ctor().$mount("#data");
    var Ctor = Vue.extend(toplist);
    new Ctor().$mount("#toplist");
    var Ctor = Vue.extend(user);
    new Ctor().$mount("#user");
  </script>
</html>
