<!--
Created: 2020-03-26 19:23:02
Last Modified:2020-03-31 11:09:53
Filename:index.html
Project:admin
Author : YukiMuraRindon
Email : rinndonn@outlook.com
--------------------------------------------------------
Description: 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="YukiMuraRindon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <link rel="Website icon" href="../img/favicon.ico" type="image/x-icon" />
    <title>后台管理界面</title>
  </head>
  <!--引入组件，缺少axios-->
  <script src="../lib/vue.js"></script>
  <script src="../lib/element.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" />
  <script src="../lib/axios.js"></script>
  <body>
    <!--顶部菜单-->
    <div class="head">
      <a href="../index.html"><img src="../img/logo.jpg" id="img"/></a>
      <div id="toplist">
        <el-menu :default-active="activeIndex" class="el-menu" mode="horizontal" @select="handleSelect">
          <el-menu-item index="1"><a href="index.html">商品管理</a></el-menu-item>
          <el-menu-item index="2"><a href="order.html">订单管理</a></el-menu-item>
          <el-menu-item index="3"><a href="user.html">用户管理</a></el-menu-item>
          <el-menu-item index="4"><a href="trend.html">订单趋势</a></el-menu-item>
          <el-menu-item index="5"><a href="#">数据统计</a></el-menu-item>
        </el-menu>
      </div>
      <div id="user" v-on:click="link">
        <el-avatar class="block"><el-avatar :size="41" :src="circleUrl"></el-avatar></el-avatar>
      </div>
    </div>
    <!--数据加载-->
    <div id="data">
      <h3>商品数据</h3>
      <div style="width:203px;height:44px;text-align: center; margin-left: 392px;" :center="true">
        <el-button type="primary" @click="dialogFormVisible = true">查询商品</el-button>
        <!--查询商品的表单-->
        <el-dialog title="根据商品名称查询商品" :visible.sync="dialogFormVisible">
          <el-form :model="form">
            <el-form-item label="商品名称" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible = false">查 询</el-button>
          </div>
        </el-dialog>
        <el-button type="primary" @click="dialogFormVisible1 = true">增加商品</el-button>
        <!--添加商品的表单-->
        <el-dialog title="增加新的商品" :visible.sync="dialogFormVisible1">
          <el-form :model="form">
            <el-form-item label="商品名称" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品类别" :label-width="formLabelWidth">
              <el-input v-model="form.kind" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品库存" :label-width="formLabelWidth">
              <el-input v-model="form.stock" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="商品描述" :label-width="formLabelWidth">
              <el-input v-model="form.disc" autocomplete="off"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="dialogFormVisible1 = false">添 加</el-button>
          </div>
        </el-dialog>
      </div>
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="id" label="商品ID" width="80"> </el-table-column>
        <el-table-column prop="name" label="商品名称" width="100"> </el-table-column>
        <el-table-column prop="kind" label="商品类别" width="100"> </el-table-column>
        <el-table-column prop="stock" label="商品库存" width="80"> </el-table-column>
        <el-table-column prop="disc" label="商品描述"> </el-table-column>
        <el-table-column prop="price" label="商品价格"> </el-table-column>
        <el-table-column prop="date" label="添加时间" width="100"></el-table-column>
        <el-table-column prop="action" label="操作" id="action" :inline="true" width="234">
          <el-button type="primary">删除商品</el-button>
          <el-button type="primary">修改商品</el-button>
        </el-table-column>
      </el-table>
    </div>
    <!--底部菜单-->
    <hr id="line" />
    <div id="footer">
      <p>酒店订餐系统 HOTEL RESERVATION SYSTEM © 2020</p>
      <p>Powered and Maintained by Rindon . All Rights Reserved.</p>
    </div>
  </body>
  <script>
    var toplist = {
      data() {
        return {
          activeIndex: "1",
          activeIndex2: "1"
        };
      },
      methods: {
        handleSelect(key, keyPath) {
          console.log(key, keyPath);
        }
      }
    };
    var user = {
      data() {
        return {
          circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"
        };
      },
      methods: {
        link: function() {
          self.location = "?2123";
        }
      }
    };
    var data = {
      data() {
        return {
          dialogFormVisible: false,
          dialogFormVisible1: false,
          form: {
            name: "",
            kind:"",
            stock:"",
            disc:"",
          },
          formLabelWidth: "120px",
          input: "",
          tableData: [
            {
              id: "1",
              name: "菜品A",
              kind: "鲁菜",
              stock: "123",
              price:"333元",
              disc: "好吃的一笔",
              date: "2013-03-03"
            },
            {
              id: "2",
              name: "菜品B",
              kind: "粤菜",
              stock: "123",
              price:"333元",
              disc: "好吃的一笔",
              date: "2013-03-03"
            },
            {
              id: "3",
              name: "菜品C",
              kind: "浙菜",
              stock: "123",
              price:"333元",
              disc: "好吃的一笔",
              date: "2013-03-03"
            },
            {
              id: "4",
              name: "菜品D",
              kind: "闽菜",
              stock: "123",
              price:"333元",
              disc: "好吃的一笔",
              date: "2013-03-03"
            }
          ]
        };
      }
    };
    var Ctor = Vue.extend(data);
    new Ctor().$mount("#data");
    var Ctor = Vue.extend(toplist);
    new Ctor().$mount("#toplist");
    var Ctor = Vue.extend(user);
    new Ctor().$mount("#user");
  </script>
</html>
