<!--
Created: 2020-03-27 11:39:59
Last Modified:2020-03-31 11:09:55
Filename:order.html
Project:admin
Author : YukiMuraRindon
Email : rinndonn@outlook.com
--------------------------------------------------------
Description: 
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="YukiMuraRindon" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1" />
    <link rel="Website icon" href="../img/favicon.ico" type="image/x-icon" />
    <title>后台管理界面</title>
  </head>
  <!--引入组件，缺少axios-->
  <script src="../lib/vue.js"></script>
  <script src="../lib/element.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link href="./css/style.css" type="text/css" rel="stylesheet" />
  <script src="../lib/axios.js"></script>

  <body>
    <!--顶部菜单-->
    <div class="head">
      <a href="../index.html"><img src="../img/logo.jpg" id="img"/></a>
      <div id="toplist">
        <el-menu :default-active="activeIndex" class="el-menu" mode="horizontal" @select="handleSelect">
          <el-menu-item index="1"><a href="index.html">商品管理</a></el-menu-item>
          <el-menu-item index="2"><a href="order.html">订单管理</a></el-menu-item>
          <el-menu-item index="3"><a href="user.html">用户管理</a></el-menu-item>
          <el-menu-item index="4"><a href="trend.html">订单趋势</a></el-menu-item>
          <el-menu-item index="5"><a href="#">数据统计</a></el-menu-item>
        </el-menu>
      </div>
      <div id="user">
        <el-avatar class="block"><el-avatar :size="41" :src="circleUrl"></el-avatar></el-avatar>
      </div>
    </div>
    <!--数据加载-->
    <div id="data">
      <h3>订单数据</h3>
      <div style="width:228px;height:44px;text-align: center; margin-left: 480px;" :center="true">
        <el-button type="primary" @click="dialogFormVisible = true">查询订单</el-button>
        <el-button type="primary" @click="dialogFormVisible1 = true">订单分类</el-button>
        <!--种类查询的表单-->
        <el-dialog title="根据订单种类查询订单" :visible.sync="dialogFormVisible1">
          <el-form :model="form">
            <el-form-item label="订单种类" :label-width="formLabelWidth" v-model="info">
              <el-select v-model="value" placeholder="请选择">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="selectstatus(value)">查 询</el-button>
          </div>
        </el-dialog>
        <!--订单号查询的表单-->
        <el-dialog title="根据订单号查询订单" :visible.sync="dialogFormVisible">
          <el-form :model="form">
            <el-form-item label="订单号" :label-width="formLabelWidth">
              <el-input v-model="orderid" autocomplete="off"></el-input>
            </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="selectid(orderid)">查 询</el-button>
          </div>
        </el-dialog>
      </div>
      <el-table :data="tableData" border style="width: 100%">
        <el-table-column prop="orderid" label="订单编号" width="100"> </el-table-column>
        <el-table-column prop="userid" label="用户编号" width="100"> </el-table-column>
        <el-table-column prop="ordprice" label="订单总价" width="120"> </el-table-column>
        <el-table-column prop="ordstatus" label="订单状态" width="120"> </el-table-column>
        <el-table-column prop="orddate" label="下单时间"> </el-table-column>
        <el-table-column prop="sentstatus" label="配送状态"> </el-table-column>
        <el-table-column prop="action" label="操作" id="action" :inline="true" width="234">
          <template slot-scope="scope">
            <el-button type="primary" @click="selectdetail(scope.row.orderid)">订单详情</el-button>
            <el-button type="primary" @click="sent(scope.row)">开始派送</el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- Table -->
      <el-dialog title="订单详情" :visible.sync="dialogFormVisible2" style="min-width: 300px;">
        <el-table :data="orderdetail">
          <el-table-column prop="orderid" label="订单id" width="100"></el-table-column>
          <el-table-column prop="comname" label="商品名称" width="150"></el-table-column>
          <el-table-column prop="comkind" label="商品种类"></el-table-column>
          <el-table-column prop="comnum" label="商品数量"></el-table-column>
          <el-table-column prop="orderdate" label="下单时间" width="160"></el-table-column>
        </el-table>
      </el-dialog>
    </div>
    <!--底部菜单-->
    <hr id="line" />
    <div id="footer">
      <p>酒店订餐系统 HOTEL RESERVATION SYSTEM © 2020</p>
      <p>Powered and Maintained by Rindon . All Rights Reserved.</p>
    </div>
  </body>
  <script>
    var toplist = {
      data() {
        return {
          activeIndex: "2",
          activeIndex2: "1"
        };
      },
      methods: {
        handleSelect(key, keyPath) {
          //console.log(key, keyPath);
        }
      }
    };
    var user = {
      data() {
        return {
          circleUrl: "https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png"
        };
      },
      methods: {}
    };
    var data = {
      data() {
        return {
          dialogFormVisible: false,
          dialogFormVisible1: false,
          dialogFormVisible2: false,
          orderid: "all",
          formLabelWidth: "120px",
          input: "",
          tableData: null,
          orderdetail: null,
          form: null,
          info: null,
          value: null,
          options: [
            {
              value: "waiting",
              label: "等待配送"
            },
            {
              value: "sending",
              label: "正在配送"
            },
            {
              value: "finish",
              label: "订单完成"
            },
            {
              value: "all",
              label: "所有订单"
            }
          ]
        };
      },
      methods: {
        sent: function(row) {
          if (row.sentstatus == "sending") {
            this.$alert("订单已在派送中", "派送失败", {
              confirmButtonText: "确定"
            });
          }
          if (row.sentstatus == "finish") {
            this.$alert("订单已经完成了", "派送失败", {
              confirmButtonText: "确定"
            });
          }
          if (row.sentstatus == "waiting") {
            console.log(row.orderid);
            axios({
              method: "post",
              url: "http://192.168.2.201/order/updateorder/",
              data: {
                orderid: row.orderid
              }
            }) //执行get请求
              .then(function(response) {
                //this.get("all"); //插入完毕刷新页面
                //console.log(response);
              }) //处理数据（赋给info
              .catch(error => {
                console.log(error); //这里应该有错误处理
              }); //错误处理
            this.get("all");
            this.$alert("派送成功", "订单开始派送", {
              confirmButtonText: "确定"
            });
          }
        },
        selectdetail: function(orderid) {
          this.dialogFormVisible2 = true;
          axios({
            method: "get",
            url: "http://192.168.2.201/order/selectorderdetail/" + orderid
          }) //执行get请求
            .then(res => (this.orderdetail = res.data)) //处理数据（赋给info
            .catch(error => {
              //console.log(res.data);
              console.log(error);
            }); //错误处理
          //console.log(value);
        },
        selectid: function(id) {
          axios({
            method: "get",
            url: "http://192.168.2.201/order/selectorder/" + id
          }) //执行get请求
            .then(res => (this.tableData = res.data)) //处理数据（赋给info
            .catch(error => {
              //console.log(res.data);
              console.log(error);
            }); //错误处理
          //console.log(value);
          this.dialogFormVisible = false;
          this.$alert("查询成功", "查询订单成功", {
            confirmButtonText: "确定"
          });
          this.orderid = "all";
        },
        selectstatus: function(value) {
          axios({
            method: "get",
            url: "http://192.168.2.201/order/selectorder/" + value
          }) //执行get请求
            .then(res => (this.tableData = res.data)) //处理数据（赋给info
            .catch(error => {
              //console.log(res.data);
              console.log(error);
            }); //错误处理
          //console.log(value);
          // this.$alert("查询成功", "查询订单成功", {
          //       confirmButtonText: "确定"
          // });
          this.dialogFormVisible1 = false;
        },
        get: function(orderid) {
          //获取订单信息
          axios({
            method: "get",
            url: "http://192.168.2.201/order/selectorder/" + orderid
          }) //执行get请求
            .then(res => (this.tableData = res.data)) //处理数据（赋给info
            .catch(error => {
              //console.log(res.data);
              console.log(error);
            }); //错误处理
        }
      },
      mounted() {
        axios({
          method: "get",
          url: "http://192.168.2.201/order/selectorder/" + this.orderid
        }) //执行get请求
          .then(res => (this.tableData = res.data)) //处理数据（赋给info
          .catch(error => {
            console.log(error);
          }); //错误处理
        //console.log(this.tableData);
      }
    };
    var Ctor = Vue.extend(data);
    new Ctor().$mount("#data");
    var Ctor = Vue.extend(toplist);
    new Ctor().$mount("#toplist");
    var Ctor = Vue.extend(user);
    new Ctor().$mount("#user");
  </script>
</html>
