html {
  height: 100%;
  width: 1000px;
}
.head {
  width: 1000px;
  height: 65px;
}
a {
  text-decoration: none;
}
.el-button{
    float: left;
    margin-right:-7px;
}
.input{
    height:40px;
    float:left;
    display:inline-block;
}
#input{
    width: 200px;
    float:left;
    display:inline-block;
}
#toplist {
  float: left;
  width: 480px;
}
#img {
  float: left;
}
#user {
  float: right;
  margin-top: 10px;
}
#line {
  width: 1000px;
}
#data {
  text-align: center;
}
#footer {
  text-align: center;
  font-size: 12px;
}
